In [1]:
#needed to make web requests
import requests
import pandas as pd
import json
import numpy as np
from datetime import datetime
from pprint import pprint

#add the access token you got from NOAA
Token = 'SNgmcXFbYKwygdszKKSRgGkPveUMeXSQ'

#Los Angeles station
station_id = 'GHCND:USW00023174'

In [2]:
dates_prcp = []
temps = []
prcp = []

#for each year from 2015-2019 ...
for year in range(2020):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00023129&startdate='+year+'-01-01&enddate='+year+'-07-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
   
    #get all items in the response which are average temperature readings
    avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    
    #get the date field from all average temperature readings
    dates_temp = [item['date'] for item in avg_temps]
    
    #get the actual average temperature from all average temperature readings
    temps = [item['value'] for item in avg_temps]

working on year 2015
working on year 2016
working on year 2017
working on year 2018
working on year 2019

In [3]:
#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0*1.8 + 32 for v in temps]
df_temp

          date  avgTemp
0   2019-01-01    55.04
1   2019-01-02    50.90
2   2019-01-03    52.52
3   2019-01-04    52.88
4   2019-01-05    54.14
..         ...      ...
360 2019-12-27    49.10
361 2019-12-28    50.90
362 2019-12-29    51.26
363 2019-12-30    54.68
364 2019-12-31    58.46

[365 rows x 2 columns]

In [5]:
df_temp_LA = df_temp
df_temp_LA

          date  avgTemp
0   2019-01-01    55.04
1   2019-01-02    50.90
2   2019-01-03    52.52
3   2019-01-04    52.88
4   2019-01-05    54.14
..         ...      ...
360 2019-12-27    49.10
361 2019-12-28    50.90
362 2019-12-29    51.26
363 2019-12-30    54.68
364 2019-12-31    58.46

[365 rows x 2 columns]

In [24]:
#getting file
file = '../Resources/Bulk_History_Data_2018_through_2020.json' 

# Opening JSON file  
import json 
  
# Opening JSON file 
f = open(file) 
  
# returns JSON object as  
# a dictionary 
data = json.load(f) 
  
# Iterating through the json 
# list 
for i in data['emp_details']: 
    print(i) 
  
# Closing file 
f.close()

FileNotFoundError: [Errno 2] No such file or directory: '../Resources/Bulk_History_Data_2018_through_2020.json'